body{
    margin: 0px;
    padding: 0px;
    background-image: url(images/rodion-kutsaev-pVoEPpLw818-unsplash.jpg);
    
}

h1{

    font-size: 25px;
    text-align: center;
    margin-top: 20%;
    color: rgb(3, 64, 197);
}